ioboard/board_serial/I2C_flows.js

[{"id":"994b8493.d04208","type":"tab","label":"ioboard #1 setup"},{"id":"1499597b.504ac7","type":"tab","label":"user interface"},{"id":"e337d685.fbd1a8","type":"ui_tab","z":"994b8493.d04208","name":"Home","icon":"home","order":"1"},{"id":"a69b72d6.af242","type":"ui_tab","z":"994b8493.d04208","name":"Sous-Sol","icon":"dashboard","order":"2"},{"id":"57d95523.f088cc","type":"ui_tab","z":"1499597b.504ac7","name":"Outputs","icon":"dashboard","order":"1"},{"id":"61390fa7.6c052","type":"ui_tab","z":"1499597b.504ac7","name":"Inputs","icon":"dashboard","order":"1"},{"id":"2f3e4eaf.dcdac2","type":"mqtt-broker","z":"1499597b.504ac7","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4c17e136.ef8ab","type":"inject","z":"994b8493.d04208","name":"startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":120,"wires":[["4bcbf3c3.de45bc","aef179ca.6c3f58"]]},{"id":"4bcbf3c3.de45bc","type":"function","z":"994b8493.d04208","name":"create global outputs","func":"//create 8 variable for setting 8 outputs on ioboard. Initial values of 0.\n\nglobal.set(\"OP1\",0);\nglobal.set(\"OP2\",0);\nglobal.set(\"OP3\",0);\nglobal.set(\"OP4\",0);\nglobal.set(\"OP5\",0);\nglobal.set(\"OP6\",0);\nglobal.set(\"OP7\",0);\nglobal.set(\"OP8\",0);\n\n//End\n\n","outputs":1,"noerr":0,"x":340,"y":120,"wires":[[]]},{"id":"292894c9.6fe94c","type":"comment","z":"994b8493.d04208","name":"global outputs","info":"","x":110,"y":40,"wires":[]},{"id":"14b2e625.02a7ea","type":"inject","z":"994b8493.d04208","name":"read-write","topic":"","payload":"","payloadType":"num","repeat":"0.1","crontab":"","once":false,"x":130,"y":200,"wires":[["b93e4f36.b65d7"]]},{"id":"aef179ca.6c3f58","type":"function","z":"994b8493.d04208","name":"create global inputs","func":"//create 8 variable for getting 8 inputs A/D value on ioboard. Initial values of 0.\n\nglobal.set(\"IP1\",0);\nglobal.set(\"IP2\",0);\nglobal.set(\"IP3\",0);\nglobal.set(\"IP4\",0);\nglobal.set(\"IP5\",0);\nglobal.set(\"IP6\",0);\nglobal.set(\"IP7\",0); \nglobal.set(\"IP8\",0);\n\n//End\n\n","outputs":1,"noerr":0,"x":330,"y":80,"wires":[[]]},{"id":"b93e4f36.b65d7","type":"function","z":"994b8493.d04208","name":"read-write I2C port","func":"\nvar i2cPort = context.global.i2c;\nvar address = 0x12;\nvar wire = new i2cPort(address, {device: '/dev/i2c-2'}); // point to your i2c address, debug provides REPL interface \n\n//read\nvar command = 0xAA;\n    \n//wire.readBytes(command, length, function(err, res) \nwire.readBytes(command, 16, function(err, res) {\n    // result contains a buffer of bytes \n    if (!err) {\n        global.set(\"IP1\",res[0]<<8|res[1]);\n        global.set(\"IP2\",res[2]<<8|res[3]);  \n        global.set(\"IP3\",res[4]<<8|res[5]);\n        global.set(\"IP4\",res[6]<<8|res[7]);\n        global.set(\"IP5\",res[8]<<8|res[9]);\n        global.set(\"IP6\",res[10]<<8|res[11]);\n        global.set(\"IP7\",res[12]<<8|res[13]);\n        global.set(\"IP8\",res[14]<<8|res[15]);\n        //node.send({payload:res[15]}); \n    } else {\n        node.send({payload:err});\n    }\n});\n\n//write\nvar out1 =  global.get(\"OP1\");\nvar out2 =  global.get(\"OP2\");\nvar out3 =  global.get(\"OP3\");\nvar out4 =  global.get(\"OP4\");\nvar out5 =  global.get(\"OP5\");\nvar out6 =  global.get(\"OP6\"); \nvar out7 =  global.get(\"OP7\");\nvar out8 =  global.get(\"OP8\");\n\nwire.writeBytes(85, [out1], function(err) {});\nwire.writeBytes(86, [out2], function(err) {});\nwire.writeBytes(87, [out3], function(err) {});\nwire.writeBytes(88, [out4], function(err) {});\nwire.writeBytes(89, [out5], function(err) {});\nwire.writeBytes(90, [out6], function(err) {});\nwire.writeBytes(91, [out7], function(err) {});\nwire.writeBytes(92, [out8], function(err) {});\n\n//Fin\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["19bc6156.7d3c6f"]]},{"id":"fc112644.57aef8","type":"inject","z":"1499597b.504ac7","name":"Welcome","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":120,"y":60,"wires":[["a364584d.fc1368"]]},{"id":"a364584d.fc1368","type":"ui_text","z":"1499597b.504ac7","tab":"e337d685.fbd1a8","name":"Bienvenue","group":"","order":1,"format":"{{msg.payload}}","x":350,"y":60,"wires":[]},{"id":"76ea2516.d7ee3c","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #1","topic":"","group":"outputs","order":1,"onvalue":"255","offvalue":"0","x":120,"y":260,"wires":[["f7a7301f.c8f02"]]},{"id":"f7a7301f.c8f02","type":"function","z":"1499597b.504ac7","name":"OP1","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP1\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[[]]},{"id":"a5e83dd0.8efe5","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #2","topic":"","group":"outputs","order":"2","onvalue":"255","offvalue":"0","x":120,"y":300,"wires":[["b54bfa16.c7c3d8"]]},{"id":"b54bfa16.c7c3d8","type":"function","z":"1499597b.504ac7","name":"OP2","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP2\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[[]]},{"id":"1dc6641d.e82d1c","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #3","topic":"","group":"outputs","order":"3","onvalue":"255","offvalue":"0","x":120,"y":340,"wires":[["869dd643.512b48"]]},{"id":"869dd643.512b48","type":"function","z":"1499597b.504ac7","name":"OP3","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP3\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[[]]},{"id":"531e38e6.b6f2b8","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #4","topic":"","group":"outputs","order":"4","onvalue":"255","offvalue":"0","x":120,"y":380,"wires":[["444982f4.f7f11c"]]},{"id":"444982f4.f7f11c","type":"function","z":"1499597b.504ac7","name":"OP4","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP4\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[[]]},{"id":"f5361197.55cf5","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #5","topic":"","group":"outputs","order":"5","onvalue":"255","offvalue":"0","x":120,"y":420,"wires":[["5fc8f4a1.0c745c"]]},{"id":"5fc8f4a1.0c745c","type":"function","z":"1499597b.504ac7","name":"OP5","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP5\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[[]]},{"id":"d4e510a9.02a08","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #6","topic":"","group":"outputs","order":"6","onvalue":"255","offvalue":"0","x":120,"y":460,"wires":[["69930c0e.f43614"]]},{"id":"69930c0e.f43614","type":"function","z":"1499597b.504ac7","name":"OP6","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP6\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[[]]},{"id":"1380df05.8f4421","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #7","topic":"","group":"outputs","order":"7","onvalue":"255","offvalue":"0","x":120,"y":500,"wires":[["a5d2b3f6.efc26"]]},{"id":"a5d2b3f6.efc26","type":"function","z":"1499597b.504ac7","name":"OP7","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP7\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":500,"wires":[[]]},{"id":"729e7fc4.b5abc","type":"comment","z":"1499597b.504ac7","name":"node-red user interface toggle switch outputs","info":"","x":210,"y":220,"wires":[]},{"id":"d7b0a9fe.9dd1b8","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #1 A/D value","group":"inputs","order":1,"format":"{{msg.payload}}","x":990,"y":260,"wires":[]},{"id":"83928dfb.bf4ab","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP1","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":260,"wires":[["d7b0a9fe.9dd1b8"]]},{"id":"ec047787.f7db38","type":"comment","z":"1499597b.504ac7","name":"node-red User interface ","info":"","x":740,"y":220,"wires":[]},{"id":"de6696ef.26f0b8","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #2 A/D value","group":"inputs","order":"2","format":"{{msg.payload}}","x":990,"y":300,"wires":[]},{"id":"dc3083a8.6ac48","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP2","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":300,"wires":[["de6696ef.26f0b8"]]},{"id":"1c322441.cd453c","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #3 A/D value","group":"inputs","order":"3","format":"{{msg.payload}}","x":990,"y":340,"wires":[]},{"id":"3930f595.2b604a","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP3","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":340,"wires":[["1c322441.cd453c"]]},{"id":"62d4206.99392e","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #4 A/D value","group":"inputs","order":"4","format":"{{msg.payload}}","x":990,"y":380,"wires":[]},{"id":"94135296.5d9d4","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP4","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":380,"wires":[["62d4206.99392e"]]},{"id":"ceeb90a.e85ca7","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #5 A/D value","group":"inputs","order":"5","format":"{{msg.payload}}","x":990,"y":420,"wires":[]},{"id":"abba5d94.7549","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP5","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":420,"wires":[["ceeb90a.e85ca7"]]},{"id":"c4870e71.70dfd","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #6 A/D value","group":"inputs","order":"6","format":"{{msg.payload}}","x":990,"y":460,"wires":[]},{"id":"ccd2abec.bf02d8","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP6","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":460,"wires":[["c4870e71.70dfd"]]},{"id":"8b0f1d31.1c9ae","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #7 A/D value","group":"inputs","order":"7","format":"{{msg.payload}}","x":990,"y":500,"wires":[]},{"id":"ea52efe9.462a8","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP7","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":500,"wires":[["8b0f1d31.1c9ae"]]},{"id":"e8b938f6.eea8d8","type":"ui_text","z":"1499597b.504ac7","tab":"61390fa7.6c052","name":"Input #8 A/D value","group":"inputs","order":"8","format":"{{msg.payload}}","x":990,"y":540,"wires":[]},{"id":"56c066b8.cd3368","type":"inject","z":"1499597b.504ac7","name":"","topic":"","payload":"IP8","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":540,"wires":[["e8b938f6.eea8d8"]]},{"id":"19bc6156.7d3c6f","type":"debug","z":"994b8493.d04208","name":"","active":true,"console":"false","complete":"false","x":630,"y":200,"wires":[]},{"id":"5bb79f8.477b36","type":"ui_switch","z":"1499597b.504ac7","tab":"57d95523.f088cc","name":"output #8","topic":"","group":"outputs","order":"8","onvalue":"255","offvalue":"0","x":120,"y":540,"wires":[["56ae74df.f67fec"]]},{"id":"56ae74df.f67fec","type":"function","z":"1499597b.504ac7","name":"OP8","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP8\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[[]]}]
