ioboard/board_serial/serial_C_flows.js
[{"type":"tab","id":"a05bce27.7c3e","label":"ioboard #1 setup"},{"type":"tab","id":"62fed500.4b91fc","label":"Flow 1"},{"type":"tab","id":"bd07b3.84f9085","label":"user interface"},{"id":"7e43935e.cd913c","type":"ui_tab","z":"a05bce27.7c3e","name":"Home","icon":"home","order":"1"},{"id":"3830e68c.1b278a","type":"ui_tab","z":"a05bce27.7c3e","name":"Sous-Sol","icon":"dashboard","order":"2"},{"id":"be1baed.3d6855","type":"ui_tab","z":"bd07b3.84f9085","name":"Outputs","icon":"dashboard","order":"1"},{"id":"c18387ba.37c3e8","type":"ui_tab","z":"bd07b3.84f9085","name":"Inputs","icon":"dashboard","order":"1"},{"id":"3ebabf69.bfbaa","type":"mqtt-broker","z":"bd07b3.84f9085","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"6ba40a3e.66ca64","type":"exec","z":"a05bce27.7c3e","command":"/home/pi/pascal/c_programs/modbus/modbus","addpay":false,"append":"","useSpawn":true,"name":"modbus C","x":310,"y":560,"wires":[["52eb97a5.5cd668"],[],[]]},{"id":"8b704639.fdda08","type":"inject","z":"a05bce27.7c3e","name":"read inputs","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":560,"wires":[["6ba40a3e.66ca64"]]},{"id":"52eb97a5.5cd668","type":"function","z":"a05bce27.7c3e","name":"get Input IN1","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP1;\n\nglobal.set(\"IN1\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":540,"wires":[["1ae31ed9.6af851"]]},{"id":"1ae31ed9.6af851","type":"function","z":"a05bce27.7c3e","name":"10K temp DegC","func":"\nvar _advalue = msg.payload;\nvar _voltvalue = [4.7999,4.7358,4.6557,4.5571,4.4378,4.2961,4.1312,3.9433,3.7339,3.5058,3.2631,3.0108,2.7546,2.5000,2.2523,2.0156,1.7936,1.5884,1.4011,1.2324,1.0815,0.9478,0.8299,0.7265,0.6362,0.5575,0.4890,0.4296,0.3776,0.3328];\nvar _calcvalue = [-40.0,-35.0,-30.0,-25.0,-20.0,-15.0,-10.0,-5.0,0.0,5.0,10.0,15.0,20.0,25.0,30.0,35.0,40.0,45.0,50.0,55.0,60.0,65.0,70.0,75.0,80.0,85.0,90.0,95.0,100.0,105.0];\nvar _tempCalc = 0.0;\nvar _diffvolt = 0.0;\nvar _diffcalc = 0.0;\nvar _newvalue = 0.0;\nvar _lastvalue = 0.0;\nvar volt = _advalue * (5.0 / 1023.0);\n\nfor (x = 0; x < _voltvalue.length; x++) {\n\tif ((volt >= _voltvalue[x+1]) & (volt <= _voltvalue[x])) {\n        _diffvolt = _voltvalue[x] - _voltvalue[x+1];\n        _diffcalc = _calcvalue[x+1] - _calcvalue[x];\n        _tempCalc = _calcvalue[x+1] - ((volt - _voltvalue[x+1]) * (_diffcalc/_diffvolt));\n\t} else {\n        if (volt <= _voltvalue[_voltvalue.length - 1]) {\n            _tempCalc = _calcvalue[_voltvalue.length - 1]; \n        } else if (volt >= _voltvalue[0]) {\n            _tempCalc = _calcvalue[0];\n\t    }\t\t\n    }\n}\n\nmsg.payload = _tempCalc;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":540,"wires":[["391c4c5f.4a7064"]]},{"id":"391c4c5f.4a7064","type":"function","z":"a05bce27.7c3e","name":"Temperature SS","func":"\nvar arrondi = Math.round(msg.payload * 100) / 100;\n\nglobal.set(\"Temp_SS\", arrondi);\n\n","outputs":1,"noerr":0,"x":1060,"y":540,"wires":[[]]},{"id":"c04c574d.063578","type":"inject","z":"62fed500.4b91fc","name":"Initialize Outputs ONCE","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":199,"y":121.5,"wires":[["18596369.e4535d"]]},{"id":"157f3225.9cb8fe","type":"function","z":"62fed500.4b91fc","name":"Set Global Values","func":"\n//Faudrait un READ modbus des sorties actuels et ensuite fixer les valeurs OP1 à OP8\n//Faire un autre fichier C pour lire les sortie seulement modbus READ 8 à 15\n//Faire une fonction avant ce node qui va lire le modbus de OPx et ensuite faire cette fonction va setter les global\n\n//***mettre un delay avec de starter la lecture des READ/WRITE aux 0.5 secondes***\n\nvar newmsg = JSON.parse(msg.payload);\n\n//msg.payload = newmsg.IP5;\n\n//return msg;\n//***attention*** ici seulement un exemple....ça doit être OPx et non pas IPx\nglobal.set(\"OP1\",newmsg.IP1);\nglobal.set(\"OP2\",newmsg.IP2);\nglobal.set(\"OP3\",newmsg.IP3);\nglobal.set(\"OP4\",newmsg.IP4);\nglobal.set(\"OP5\",newmsg.IP5);\nglobal.set(\"OP6\",newmsg.IP6);\nglobal.set(\"OP7\",newmsg.IP7);\nglobal.set(\"OP8\",newmsg.IP8);\n\n//Fin","outputs":1,"noerr":0,"x":761.5,"y":121,"wires":[[]]},{"id":"16432679.cae7ba","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":440,"wires":[["bd5eec73.04016"]]},{"id":"bd5eec73.04016","type":"function","z":"62fed500.4b91fc","name":"Set OP1","func":"\nglobal.set(\"OP1\",255);\n\n//return msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[[]]},{"id":"e28ddc7f.6c6c","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.5,"y":479.5,"wires":[["cf287493.018348"]]},{"id":"cf287493.018348","type":"function","z":"62fed500.4b91fc","name":"Reset OP1","func":"\nglobal.set(\"OP1\",0);\n\n//return msg;","outputs":1,"noerr":0,"x":339.5,"y":479.5,"wires":[[]]},{"id":"18596369.e4535d","type":"exec","z":"62fed500.4b91fc","command":"/home/plambert/workspace/envoi/Debug/envoi","addpay":false,"append":"","useSpawn":true,"name":"Modbus READ outputs","x":484.5,"y":121,"wires":[["157f3225.9cb8fe"],[],[]]},{"id":"8b2c4739.fa57c8","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":147.5,"y":527.5,"wires":[["5d2e932.37e146c"]]},{"id":"5d2e932.37e146c","type":"function","z":"62fed500.4b91fc","name":"Set OP2","func":"\nglobal.set(\"OP2\",255);\n\n//return msg;","outputs":1,"noerr":0,"x":327.5,"y":527.5,"wires":[[]]},{"id":"a8780666.ce4598","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":147,"y":567,"wires":[["d66ed663.76aa18"]]},{"id":"d66ed663.76aa18","type":"function","z":"62fed500.4b91fc","name":"Reset OP2","func":"\nglobal.set(\"OP2\",0);\n\n//return msg;","outputs":1,"noerr":0,"x":337,"y":567,"wires":[[]]},{"id":"bb8b6d29.75b45","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":145,"y":620.5,"wires":[["67fa9316.5b2ecc"]]},{"id":"67fa9316.5b2ecc","type":"function","z":"62fed500.4b91fc","name":"Set OP3","func":"\nglobal.set(\"OP3\",255);\n\n//return msg;","outputs":1,"noerr":0,"x":325,"y":620.5,"wires":[[]]},{"id":"9605df5.2ffda2","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":144.5,"y":660,"wires":[["6408d68b.158178"]]},{"id":"6408d68b.158178","type":"function","z":"62fed500.4b91fc","name":"Reset OP2","func":"\nglobal.set(\"OP3\",0);\n\n//return msg;","outputs":1,"noerr":0,"x":334.5,"y":660,"wires":[[]]},{"id":"4092bb8a.999a54","type":"ui_gauge","z":"bd07b3.84f9085","tab":"3830e68c.1b278a","name":"Temperature Sous-Sol","group":"Gauge","order":"1","format":"{{value}}","min":"15","max":"30","x":380,"y":100,"wires":[]},{"id":"c9f9d4f3.b27128","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"Temp_SS","payloadType":"global","repeat":"30","crontab":"","once":false,"x":140,"y":100,"wires":[["4092bb8a.999a54"]]},{"id":"1b4ba2e1.84cddd","type":"ui_chart","z":"bd07b3.84f9085","tab":"3830e68c.1b278a","name":"Temp_SS Chart","group":"Chart","order":"2","interpolate":"basis","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":360,"y":140,"wires":[[],[]]},{"id":"31e6b43d.2294fc","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"Temp_SS","payloadType":"global","repeat":"300","crontab":"","once":false,"x":140,"y":140,"wires":[["1b4ba2e1.84cddd"]]},{"id":"4250e22c.f057bc","type":"inject","z":"bd07b3.84f9085","name":"Welcome","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":120,"y":60,"wires":[["56df5472.5fef4c"]]},{"id":"56df5472.5fef4c","type":"ui_text","z":"bd07b3.84f9085","tab":"7e43935e.cd913c","name":"Bienvenue","group":"","order":1,"format":"{{msg.payload}}","x":350,"y":60,"wires":[]},{"id":"89153824.8ae228","type":"inject","z":"a05bce27.7c3e","name":"startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":80,"wires":[["78891746.d74a58"]]},{"id":"78891746.d74a58","type":"function","z":"a05bce27.7c3e","name":"create global outputs","func":"//create 8 variable for setting 8 outputs on ioboard. Initial values of 0.\n\nglobal.set(\"OP1\",0);\nglobal.set(\"OP2\",0);\nglobal.set(\"OP3\",0);\nglobal.set(\"OP4\",0);\nglobal.set(\"OP5\",0);\nglobal.set(\"OP6\",0);\nglobal.set(\"OP7\",0);\nglobal.set(\"OP8\",0);\n\n//End\n\n","outputs":1,"noerr":0,"x":340,"y":80,"wires":[[]]},{"id":"f431d7d8.ad1d98","type":"comment","z":"a05bce27.7c3e","name":"global outputs","info":"","x":110,"y":40,"wires":[]},{"id":"8ac4c5bd.b736a8","type":"inject","z":"a05bce27.7c3e","name":"read-write","topic":"","payload":"","payloadType":"num","repeat":"0.5","crontab":"","once":false,"x":120,"y":300,"wires":[["e88da431.043728"]]},{"id":"e88da431.043728","type":"function","z":"a05bce27.7c3e","name":"send global outputs","func":"//create 8 variable to get 8 outputs values. Used to write modbus values to outputs\n\nvar out1 = global.get(\"OP1\"); \nvar out2 = global.get(\"OP2\"); \nvar out3 = global.get(\"OP3\"); \nvar out4 = global.get(\"OP4\"); \nvar out5 = global.get(\"OP5\"); \nvar out6 = global.get(\"OP6\"); \nvar out7 = global.get(\"OP7\"); \nvar out8 = global.get(\"OP8\"); \n\nvar outputs = { payload:out1+\" \" +out2+\" \" +out3+\" \" +out4+\" \" +out5+\" \" +out6+\" \" +out7+\" \" +out8 }; // { payload:\"first out of output 1\" };\n\nreturn outputs;\n\n//End","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["f90196a8.d232e8"]]},{"id":"de76191e.866368","type":"comment","z":"a05bce27.7c3e","name":"modbus READ - WRITE","info":"","x":140,"y":260,"wires":[]},{"id":"f90196a8.d232e8","type":"exec","z":"a05bce27.7c3e","command":"/home/pi/pascal/c_programs/gittest/ioboard/bin/modbusReadWrite","addpay":true,"append":"","useSpawn":true,"name":"modbus C","x":550,"y":300,"wires":[["145d2504.219ecb","1e5d0920.906ad7","6681eb2b.e08474","32b1519e.e76cee","708bdd4a.0ba394","c2759ef9.43ab8","ae3d274a.281c78","80d1cb23.147078"],[],[]]},{"id":"145d2504.219ecb","type":"function","z":"a05bce27.7c3e","name":"get Input IN1","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP1;\n\nglobal.set(\"IN1\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["ea331cc.0f2b5e"]]},{"id":"ea331cc.0f2b5e","type":"function","z":"a05bce27.7c3e","name":"10K temp DegC","func":"\nvar _advalue = msg.payload;\nvar _voltvalue = [4.7999,4.7358,4.6557,4.5571,4.4378,4.2961,4.1312,3.9433,3.7339,3.5058,3.2631,3.0108,2.7546,2.5000,2.2523,2.0156,1.7936,1.5884,1.4011,1.2324,1.0815,0.9478,0.8299,0.7265,0.6362,0.5575,0.4890,0.4296,0.3776,0.3328];\nvar _calcvalue = [-40.0,-35.0,-30.0,-25.0,-20.0,-15.0,-10.0,-5.0,0.0,5.0,10.0,15.0,20.0,25.0,30.0,35.0,40.0,45.0,50.0,55.0,60.0,65.0,70.0,75.0,80.0,85.0,90.0,95.0,100.0,105.0];\nvar _tempCalc = 0.0;\nvar _diffvolt = 0.0;\nvar _diffcalc = 0.0;\nvar _newvalue = 0.0;\nvar _lastvalue = 0.0;\nvar volt = _advalue * (5.0 / 1023.0);\n\nfor (x = 0; x < _voltvalue.length; x++) {\n\tif ((volt >= _voltvalue[x+1]) & (volt <= _voltvalue[x])) {\n        _diffvolt = _voltvalue[x] - _voltvalue[x+1];\n        _diffcalc = _calcvalue[x+1] - _calcvalue[x];\n        _tempCalc = _calcvalue[x+1] - ((volt - _voltvalue[x+1]) * (_diffcalc/_diffvolt));\n\t} else {\n        if (volt <= _voltvalue[_voltvalue.length - 1]) {\n            _tempCalc = _calcvalue[_voltvalue.length - 1]; \n        } else if (volt >= _voltvalue[0]) {\n            _tempCalc = _calcvalue[0];\n\t    }\t\t\n    }\n}\n\nmsg.payload = _tempCalc;\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":160,"wires":[["b53f0250.98709"]]},{"id":"b53f0250.98709","type":"function","z":"a05bce27.7c3e","name":"Temperature SS","func":"\nvar arrondi = Math.round(msg.payload * 100) / 100;\n\nglobal.set(\"Temp_SS\", arrondi);\n\n","outputs":1,"noerr":0,"x":1220,"y":160,"wires":[[]]},{"id":"5932115d.1b9ff","type":"comment","z":"62fed500.4b91fc","name":"TO DO","info":"will be to do.....\n\nread all output state on startup...\n","x":149,"y":66,"wires":[]},{"id":"ed79778c.4c19f8","type":"comment","z":"a05bce27.7c3e","name":"old flow... do not use","info":"","x":130,"y":520,"wires":[]},{"id":"26b67063.6cb13","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #1","topic":"","group":"outputs","order":1,"onvalue":"255","offvalue":"0","x":120,"y":260,"wires":[["b339c7a2.49f008"]]},{"id":"b339c7a2.49f008","type":"function","z":"bd07b3.84f9085","name":"OP1","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP1\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[[]]},{"id":"fefafcbe.d1e9a","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #2","topic":"","group":"outputs","order":"2","onvalue":"255","offvalue":"0","x":120,"y":300,"wires":[["fda22059.bee7"]]},{"id":"fda22059.bee7","type":"function","z":"bd07b3.84f9085","name":"OP2","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP2\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[[]]},{"id":"e98f3014.aeb59","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #3","topic":"","group":"outputs","order":"3","onvalue":"255","offvalue":"0","x":120,"y":340,"wires":[["90ed32bc.eca6f"]]},{"id":"90ed32bc.eca6f","type":"function","z":"bd07b3.84f9085","name":"OP3","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP3\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[[]]},{"id":"f04866b3.73a3f8","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #4","topic":"","group":"outputs","order":"4","onvalue":"255","offvalue":"0","x":120,"y":380,"wires":[["cddc22da.63815"]]},{"id":"cddc22da.63815","type":"function","z":"bd07b3.84f9085","name":"OP4","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP4\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[[]]},{"id":"f7fbb005.77be2","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #5","topic":"","group":"outputs","order":"5","onvalue":"255","offvalue":"0","x":120,"y":420,"wires":[["c3706ea8.66e29"]]},{"id":"c3706ea8.66e29","type":"function","z":"bd07b3.84f9085","name":"OP5","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP5\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[[]]},{"id":"78d5759b.aa855c","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #6","topic":"","group":"outputs","order":"6","onvalue":"255","offvalue":"0","x":120,"y":460,"wires":[["1ebc2355.a31ead"]]},{"id":"1ebc2355.a31ead","type":"function","z":"bd07b3.84f9085","name":"OP6","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP6\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[[]]},{"id":"d15ecd35.3d806","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #7","topic":"","group":"outputs","order":"7","onvalue":"255","offvalue":"0","x":120,"y":500,"wires":[["bf907ba0.d2e258"]]},{"id":"bf907ba0.d2e258","type":"function","z":"bd07b3.84f9085","name":"OP7","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP7\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":500,"wires":[[]]},{"id":"f47337eb.324aa8","type":"ui_switch","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"output #8","topic":"","group":"outputs","order":"8","onvalue":"255","offvalue":"0","x":120,"y":680,"wires":[["5227dbb3.7c7a64","e65fa42d.c32c98"]]},{"id":"5227dbb3.7c7a64","type":"function","z":"bd07b3.84f9085","name":"digital OP8","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP8\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[[]]},{"id":"1e5d0920.906ad7","type":"function","z":"a05bce27.7c3e","name":"get Input IN2","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP2;\n\nglobal.set(\"IN2\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[[]]},{"id":"6681eb2b.e08474","type":"function","z":"a05bce27.7c3e","name":"get Input IN3","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP3;\n\nglobal.set(\"IN3\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[[]]},{"id":"32b1519e.e76cee","type":"function","z":"a05bce27.7c3e","name":"get Input IN4","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP4;\n\nglobal.set(\"IN4\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[[]]},{"id":"708bdd4a.0ba394","type":"function","z":"a05bce27.7c3e","name":"get Input IN5","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP5;\n\nglobal.set(\"IN5\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[[]]},{"id":"c2759ef9.43ab8","type":"function","z":"a05bce27.7c3e","name":"get Input IN6","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP6;\n\nglobal.set(\"IN6\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":360,"wires":[[]]},{"id":"ae3d274a.281c78","type":"function","z":"a05bce27.7c3e","name":"get Input IN7","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP7;\n\nglobal.set(\"IN7\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[[]]},{"id":"80d1cb23.147078","type":"function","z":"a05bce27.7c3e","name":"get Input IN8","func":"\nvar obj = JSON.parse(msg.payload);\nmsg.payload = obj.IP8;\n\nglobal.set(\"IN8\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["1a551f76.2109e1"]]},{"id":"1a551f76.2109e1","type":"function","z":"a05bce27.7c3e","name":"Digital On_Off","func":"\nvar advalue = msg.payload;\n\nif (advalue < 500) {\n    msg.payload = \"On\";   \n} else if (advalue > 700) {\n    msg.payload = \"Off\";\n} else {\n   msg.payload = \"Off\"; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":440,"wires":[["6294e8a4.e4ac78"]]},{"id":"84bb81e5.b32c","type":"comment","z":"bd07b3.84f9085","name":"node-red user interface toggle switch outputs","info":"","x":210,"y":220,"wires":[]},{"id":"a9e41583.6bdbb8","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #1 A/D value","group":"inputs","order":1,"format":"{{msg.payload}}","x":990,"y":260,"wires":[]},{"id":"48f37e7d.a9f04","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN1","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":260,"wires":[["a9e41583.6bdbb8"]]},{"id":"c6aeabdd.b76868","type":"comment","z":"bd07b3.84f9085","name":"node-red User interface ","info":"","x":740,"y":220,"wires":[]},{"id":"9dc56ccb.4ab5f","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #2 A/D value","group":"inputs","order":"2","format":"{{msg.payload}}","x":990,"y":300,"wires":[]},{"id":"18ee8f82.f5e2a","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN2","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":300,"wires":[["9dc56ccb.4ab5f"]]},{"id":"19166f2f.771d11","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #3 A/D value","group":"inputs","order":"3","format":"{{msg.payload}}","x":990,"y":340,"wires":[]},{"id":"eee1fc17.bb55","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN3","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":340,"wires":[["19166f2f.771d11"]]},{"id":"24b1bba7.1a8e04","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #4 A/D value","group":"inputs","order":"4","format":"{{msg.payload}}","x":990,"y":380,"wires":[]},{"id":"51e7b430.2e334c","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN4","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":380,"wires":[["24b1bba7.1a8e04"]]},{"id":"8521eb01.e62aa8","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #5 A/D value","group":"inputs","order":"5","format":"{{msg.payload}}","x":990,"y":420,"wires":[]},{"id":"e159de94.efdf7","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN5","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":420,"wires":[["8521eb01.e62aa8"]]},{"id":"b7d5b3cb.d0a8","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #6 A/D value","group":"inputs","order":"6","format":"{{msg.payload}}","x":990,"y":460,"wires":[]},{"id":"688c7de4.449ba4","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN6","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":460,"wires":[["b7d5b3cb.d0a8"]]},{"id":"fe9b699f.d63f88","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #7 A/D value","group":"inputs","order":"7","format":"{{msg.payload}}","x":990,"y":500,"wires":[]},{"id":"f197654c.0745c8","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN7","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":500,"wires":[["fe9b699f.d63f88"]]},{"id":"3eec6ea2.6bc572","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #8 A/D value","group":"inputs","order":"8","format":"{{msg.payload}}","x":990,"y":540,"wires":[]},{"id":"d144380.fef67c8","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"IN8","payloadType":"global","repeat":"5","crontab":"","once":false,"x":740,"y":540,"wires":[["3eec6ea2.6bc572"]]},{"id":"6294e8a4.e4ac78","type":"function","z":"a05bce27.7c3e","name":"OnOff contact","func":"\nvar value = msg.payload;\n\nglobal.set(\"Contact\", value);\n\n//End","outputs":1,"noerr":0,"x":1220,"y":440,"wires":[[]]},{"id":"8c49bd8d.150f5","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"Contact","payloadType":"global","repeat":"5","crontab":"","once":false,"x":750,"y":580,"wires":[["b75c86da.2d4688"]]},{"id":"b75c86da.2d4688","type":"ui_text","z":"bd07b3.84f9085","tab":"c18387ba.37c3e8","name":"Input #8 Contact","group":"inputs","order":"9","format":"{{msg.payload}}","x":980,"y":580,"wires":[]},{"id":"e65fa42d.c32c98","type":"ui_slider","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"Slider #8","topic":"","group":"analogique","order":"1","min":0,"max":"255","x":320,"y":720,"wires":[["d392feeb.1fb7c","9aa745c9.48cf18"]]},{"id":"d392feeb.1fb7c","type":"function","z":"bd07b3.84f9085","name":"analog OP8","func":"\nvar value = msg.payload;\n\nglobal.set(\"OP8\",value);  \n\n//return msg;","outputs":1,"noerr":0,"x":510,"y":720,"wires":[[]]},{"id":"9aa745c9.48cf18","type":"ui_text","z":"bd07b3.84f9085","tab":"be1baed.3d6855","name":"dimming","group":"analogique","order":"2","format":"{{msg.payload}}","x":500,"y":760,"wires":[]},{"id":"cc30c82e.8ed358","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"22.456","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":240,"wires":[["d52b9762.7ca618"]]},{"id":"d52b9762.7ca618","type":"http request","z":"62fed500.4b91fc","name":"send a temperature value","method":"PUT","ret":"txt","url":"http://192.168.0.128:8080/rest/items/Input_1_Value/state","x":620,"y":240,"wires":[[]]},{"id":"e5fed8f3.e23f08","type":"comment","z":"62fed500.4b91fc","name":"test openhab rest API","info":"","x":200,"y":200,"wires":[]},{"id":"c3b3e1d.767252","type":"inject","z":"62fed500.4b91fc","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":280,"wires":[["a8bed0fb.fb958"]]},{"id":"a8bed0fb.fb958","type":"http request","z":"62fed500.4b91fc","name":"send a ON OFF value","method":"PUT","ret":"txt","url":"http://192.168.0.128:8080/rest/items/Output_1/state","x":610,"y":280,"wires":[[]]},{"id":"f83a00e5.c2ae8","type":"comment","z":"bd07b3.84f9085","name":"openHAB interface","info":"","x":110,"y":840,"wires":[]},{"id":"3e7a28ac.0576a8","type":"inject","z":"bd07b3.84f9085","name":"","topic":"","payload":"Temp_SS","payloadType":"global","repeat":"5","crontab":"","once":false,"x":160,"y":900,"wires":[["c3f9dcfb.48e36"]]},{"id":"c3f9dcfb.48e36","type":"http request","z":"bd07b3.84f9085","name":"openHAB UI IP1","method":"PUT","ret":"txt","url":"http://192.168.0.128:8080/rest/items/Input_1_Value/state","x":360,"y":900,"wires":[[]]},{"id":"6602d725.705218","type":"mqtt in","z":"bd07b3.84f9085","name":"mqtt output #1 ","topic":"ioboard/1/output/1","broker":"3ebabf69.bfbaa","x":730,"y":900,"wires":[["bc0e9720.bb57a8"]]},{"id":"bc0e9720.bb57a8","type":"function","z":"bd07b3.84f9085","name":"OP1","func":"\nvar button = msg.payload;\n\nglobal.set(\"OP1\",button);  \n\n//return msg;","outputs":1,"noerr":0,"x":970,"y":900,"wires":[[]]}]
